html, body, ul {
    margin: 0;
    padding: 0;
}

ul {
    list-style: none;
}
body {
    box-sizing: content-box;
    overflow-x: hidden;
    background-image: url(test.svg);
    background-repeat: no-repeat;
    width: 100%;
    background-size: 100%;
    height: 1600px;
}

a {
    color: white;
    text-decoration: none;
    border-bottom: 1px solid rgba(255, 255, 255, 0);
    padding: 1rem 2rem;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 250px;
}

header nav ul li {
    font-size: 2rem;
}

a:hover {
    border-bottom: 1px solid rgba(255, 255, 255, 1);
    font-weight: bold;
}

#imageprofil {
    width: 500px;
    height: 500px;
    margin-left: 25%;
}


#presentation p {
    color: white;
    font-size: 1.4rem;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

main {
    width: 80%;
    margin: auto;
}

#presentation {
    margin-top: 100px;
    display: flex;
}

#presentation article {
    display: flex;
    flex-direction: column;
}

#presentation img {
    margin: 0% 4%;
    
}

#imageprofileffet {
    width: 500px;
    height: 500px;
    border: 2px solid #2eb7cd;
    position: absolute;
    top: 180px;
    left: 290px;
    border-radius: 50%;
}